---
---
<section class="call-to-action animate">
  <div class="open">
    <h4>Open to work</h4>
  </div>

  <h2>Do you have any project ?</h2>
  <h3>Let's work together</h3>

  <div class="buttons">
    <a href="mailto:die.medinaa@gmail.com">
      <img src="https://svgl.app/library/gmail.svg" alt="Gmail" />
      Email
    </a>
    <a href="https://www.linkedin.com/in/diego-ezequiel-medina/" target="_blank" rel="noopener noreferrer">
      <img src="https://svgl.app/library/linkedin.svg" alt="Gmail" />
      Linkedin
    </a>
  </div>
</section>
<style lang="scss">
	.call-to-action {
		background: black;
		color: whitesmoke;
		padding: 2rem;
		border-radius: 12px;
		text-align: center;
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 12px;

		h2 {
			margin-bottom: 0px;
		}

		.open {
			position: absolute;
			top: -18px;
			left: 50%;
			transform: translateX(-50%);
			background: #ffffffe6;
			backdrop-filter: blur(4px);
			padding: 6px 12px;
			border-radius: 12px;
			overflow: hidden;
			
			h4 {
				color: black;
				font-weight: normal;
				z-index: 1;
				position: relative;
			}

			&::before {
				content: '';
				position: absolute;
				left: -100%;
				top: -225%;
				width: 360px;
				background-image: conic-gradient(from 90deg at 50% 50%,#acacac,#ffffffe6,#747474);
				height: 500%;
				animation: rotButton 3s linear infinite;
				transition: all .2s linear;
			}

			@keyframes rotButton {
				from {
					transform: rotate(0deg);
				}

				to {
					transform: rotate(360deg);
				}
			}

			&::after {
				content: '';
				position: absolute;
				background-color: #ffffff;
				backdrop-filter: blur(4px);
				inset: 2px;
				border-radius: 12px;
			}
		}

		.buttons {
			display: flex;
			gap: 16px;
			justify-content: center;
			margin-top: 12px;

			a {
				background: #f5f5f6;
				padding: 12px;
				border-radius: 12px;
				text-decoration: none;
				color: #1f2937;
				font-weight: bold;
				width: 120px;
				display: flex;
				gap: 8px;
				justify-content: center;
				align-items: center;

				img {
					width: 1.5rem;
				}
			}
		}
	}
</style>